<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('navbar') %>

    <main class="container">
        <h1>About section</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolorum beatae maxime est delectus tenetur quis nemo voluptatum sint unde, repudiandae corrupti ipsam soluta, iste ea fugit totam eligendi minus.</p>
    </main>
</body>
</html>